### Tokenize

In [1]:
datapath = "/home/ababil/BUET/Vinternship/Task 1/Transaction_Naration_Data_Set.csv"

In [15]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np
import nltk

In [3]:
rawDf = pd.read_csv(datapath)
rawDf.head(5)

,Unnamed: 0,AC_ID,AMOUNT,DOC_DATE,NARATION,DR_CR
0,0,3644877,342800.0,01-NOV-22,Cash Withdraw,Debit
1,1,1175256,342800.0,01-NOV-22,Cash Withdrawal From A/C No.:,Credit
2,2,2298226,1500.0,01-NOV-22,"Cash withdraw from Micro Merchant point, MM A/C",Debit
3,3,4066427,1500.0,01-NOV-22,Credit Against Merchant Cash Withdraw Service ...,Credit
4,4,1978564,2550.0,01-NOV-22,"Cash withdraw from Micro Merchant point, MM A/C",Debit

In [7]:
narationList = rawDf['NARATION'].values.tolist()
narationList[0:10]

['Cash Withdraw',
 'Cash Withdrawal From A/C No.: ',
 'Cash withdraw from Micro Merchant point, MM A/C ',
 'Credit Against Merchant Cash Withdraw Service From A/C-',
 'Cash withdraw from Micro Merchant point, MM A/C ',
 'Credit Against Merchant Cash Withdraw Service From A/C-',
 'Cash Deposit to A/C No.: ',
 'Cash Deposit',
 'Cash Deposit to A/C No.: ',
 'Cash Deposit']

In [8]:
len(narationList)

22546758

In [10]:
dummyNarationList = narationList[:500]
dummyNarationList[123]

'Cash Deposit to A/C No.: '

In [19]:
tempNaration = dummyNarationList[123]

In [20]:
from nltk.tokenize import word_tokenize

In [21]:
words = word_tokenize(tempNaration)
print(words)

['Cash', 'Deposit', 'to', 'A/C', 'No', '.', ':']

In [34]:
tempNaration = dummyNarationList[100].lower()
temp = word_tokenize(tempNaration) 
temp

['cash', 'withdrawal', 'from', 'a/c', 'no', '.', ':']

In [35]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 

stopWords = set(stopwords.words('english')) 
# stopWords

In [36]:
temp = [w for w in temp if not w in stopWords] 
temp

['cash', 'withdrawal', 'a/c', '.', ':']