In [1]:
datapath = "/home/ababil/BUET/Vinternship/Task 1/Transaction_Naration_Data_Set.csv"

In [2]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np
import nltk

In [3]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

In [4]:
rawDf = pd.read_csv(datapath)

In [5]:
narDf = rawDf[['NARATION']]
narDf.columns = ['Narration']
narDf = narDf.head(500)

In [6]:
narDf['Narration'] = narDf['Narration'].str.lower()
narDf.head(5)

                                           Narration
0                                      cash withdraw
1                     cash withdrawal from a/c no.:
2   cash withdraw from micro merchant point, mm a/c
3  credit against merchant cash withdraw service ...
4   cash withdraw from micro merchant point, mm a/c

In [7]:
narDf['Narration'] = narDf['Narration'].str.replace('[^A-Za-z0-9]+',' ', regex=True)
narDf.head(5)

                                           Narration
0                                      cash withdraw
1                       cash withdrawal from a c no
2    cash withdraw from micro merchant point mm a c
3  credit against merchant cash withdraw service ...
4    cash withdraw from micro merchant point mm a c

In [8]:
stopwords = set(stopwords.words('english'))
narDf['Narration'] = narDf['Narration'].apply(lambda words: ' '.join(word.lower() for word in words.split() if word not in stopwords))
narDf.head(5)

                                 Narration
0                            cash withdraw
1                        cash withdrawal c
2  cash withdraw micro merchant point mm c
3  credit merchant cash withdraw service c
4  cash withdraw micro merchant point mm c