In [5]:
datapath = "/home/ababil/BUET/Vinternship/TransactionNarrationClassify/Task 1/Transaction_Naration_Data_Set.csv"

In [6]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np
import nltk

In [7]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

In [8]:
rawDf = pd.read_csv(datapath)
rawDf

,Unnamed: 0,AC_ID,AMOUNT,DOC_DATE,NARATION,DR_CR
0,0,3644877,342800.00,01-NOV-22,Cash Withdraw,Debit
1,1,1175256,342800.00,01-NOV-22,Cash Withdrawal From A/C No.:,Credit
2,2,2298226,1500.00,01-NOV-22,"Cash withdraw from Micro Merchant point, MM A/C",Debit
3,3,4066427,1500.00,01-NOV-22,Credit Against Merchant Cash Withdraw Service ...,Credit
4,4,1978564,2550.00,01-NOV-22,"Cash withdraw from Micro Merchant point, MM A/C",Debit
...,...,...,...,...,...,...
22546753,22546753,4010919,2550.00,29-APR-23,Credit Against Merchant Cash Withdraw Service ...,Credit
22546754,22546754,2607145,2550.00,29-APR-23,"Cash withdraw from Micro Merchant point, MM A/C",Debit
22546755,22546755,5728508,2550.00,29-APR-23,Credit Against Merchant Cash Withdraw Service ...,Credit
22546756,22546756,5939099,1512.75,29-APR-23,"Cash withdraw from Micro Merchant point, MM A/C",Debit
22546757,22546757,4632178,1500.00,29-APR-23,Credit Against Merchant Cash Withdraw Service ...,Credit

In [9]:
narDf = rawDf[['NARATION']]
narDf.columns = ['Narration']
narDf = narDf.head(500)
narDf

                                             Narration
0                                        Cash Withdraw
1                       Cash Withdrawal From A/C No.:
2     Cash withdraw from Micro Merchant point, MM A/C
3    Credit Against Merchant Cash Withdraw Service ...
4     Cash withdraw from Micro Merchant point, MM A/C
..                                                 ...
495   Cash withdraw from Micro Merchant point, MM A/C
496  Credit Against Merchant Cash Withdraw Service ...
497  Agent Balance Transfer From Conventional To Is...
498               Debit Against Debit Card Transaction
499        Debit Against Debit Card Charge Transaction

[500 rows x 1 columns]

In [10]:
narDf['Narration'] = narDf['Narration'].str.lower()
narDf.head(5)

                                           Narration
0                                      cash withdraw
1                     cash withdrawal from a/c no.:
2   cash withdraw from micro merchant point, mm a/c
3  credit against merchant cash withdraw service ...
4   cash withdraw from micro merchant point, mm a/c

In [11]:
narDf['Narration'] = narDf['Narration'].str.replace('[^A-Za-z0-9]+',' ', regex=True)
narDf.head(5)

                                           Narration
0                                      cash withdraw
1                       cash withdrawal from a c no
2    cash withdraw from micro merchant point mm a c
3  credit against merchant cash withdraw service ...
4    cash withdraw from micro merchant point mm a c

In [12]:
stopwords = set(stopwords.words('english'))
narDf['Narration'] = narDf['Narration'].apply(lambda words: ' '.join(word.lower() for word in words.split() if word not in stopwords))
narDf.head(5)

                                 Narration
0                            cash withdraw
1                        cash withdrawal c
2  cash withdraw micro merchant point mm c
3  credit merchant cash withdraw service c
4  cash withdraw micro merchant point mm c

In [13]:
stopwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}